.App {
  font-family: 'Lato', sans-serif;
}

.sign-up-text {
  color: #0829e6;
}

.sign-up-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game p {
  color: white;
}

.game-window {
  background-color: #0829e6;
  max-height: 700px;
  width: 60vw;
  overflow-y: auto;
}

.room-info, .controls {
  width: 30vw;
  height: 300px;
  background-color: black;
}

.room-info {
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom-row {
  display: flex;
  flex-direction: row;
}

.middle-arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow-key {
  margin: 30px 50px 30px 50px;
}

.arrow-key:first-child {
  transform: rotate(180deg);
}

.down-arrow {
  transform: rotate(90deg);
  text-align: center;
}

.up-arrow {
  transform: rotate(270deg);
  text-align: center;
}

.arrow-pad {
  margin-top: 30px;
  text-align: center;
}

.map {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 2% 5% 0% 5%;
}

.two-field {
  width: 14.2%;
  height: 5%;
}

.zero-field, .one-field, .player{
  width: 7.1%;
  height: 5%;
}

.game-title {
  color: white;
  text-align: center;
}

.game-description {
  width: 90%;
  text-align: center;
}

.room-info-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*trigger zeit rerender*/